<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zss.api.hello.Hello">

    <resultMap id="resultMapId" type="Hello">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="last_modified_time" property="lastModifiedTime"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <sql id="baseColumn">
        id,name,last_modified_time,created_time
    </sql>

    <select id="selectById" resultMap="resultMapId" parameterType="string">
        select
        <include refid="baseColumn"/>
        FROM hello
        <where>
            <if test="_parameter != null">
                id = #{_parameter}
            </if>
        </where>
    </select>

</mapper>
