<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.zss.api.hello.Hello" alias="Hello"/>
    </typeAliases>

    <mappers>
        <mapper resource="mappers/HelloMapper.xml"/>
    </mappers>

</configuration>